<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Регистрация</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>
    <style>
        select {
            height: 45px;
        }
    </style>
</head>
<body>
<div class="container">
    <form class="form-signin" th:method="post" th:action="@{/register}">
        <h2 class="form-signin-heading">Sign up</h2>
        <th:block th:if="${error != null}">
            <p class="text-warning border-warning border" th:text="${'Login exist'}"/>
        </th:block>
<!--        <p>-->
<!--            <label for="firstName" class="sr-only">FirstName</label>-->
<!--            <input type="text" id="firstName" name="firstName" class="form-control" placeholder="FirstName" required-->
<!--                   autofocus>-->
<!--        </p>-->
<!--        <p>-->
<!--            <label for="lastName" class="sr-only">LastName</label>-->
<!--            <input type="text" id="lastName" name="lastName" class="form-control" placeholder="LastName" required-->
<!--                   autofocus>-->
<!--        </p>-->
<!--        <p>-->
<!--            <label for="age" class="sr-only">Age</label>-->
<!--            <input type="text" id="age" name="age" class="form-control" placeholder="Age" required-->
<!--                   autofocus>-->
<!--        </p>-->
        <p>
            <label for="email" class="sr-only">Email</label>
            <input type="text" id="email" name="email" class="form-control" placeholder="Email" required
                   autofocus>
        </p>
        <p>
            <label for="password" class="sr-only">Пароль</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Пароль" required>
        </p>
        <p>
            <label for="confirm" class="sr-only">Пароль</label>
            <input type="password" id="confirm" name="confirm" class="form-control"
                   placeholder="Подтвердить пароль" required>
        </p>
        <label>Roles:
            <select size="1" multiple name="listRoles" required="required">
                <option th:value="1">ADMIN</option>
                <option selected="selected" th:value="2">USER</option>
            </select>
        </label>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
        <a class="btn btn-lg btn-secondary btn-block" href="/login">Sign in</a>
    </form>
</div>
</body>
</html>